@model IEnumerable<ETicaretNew.Models.Adre>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Adresler</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdresId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AdresId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uye.UyeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdresId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdresId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdresId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
