@model ETicaretNew.Models.Uye

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uye</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Il)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Il)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostaKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostaKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sifre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UyeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
