@model IEnumerable<ETicaretNew.Models.Urun>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ürünler</h1>

<p>  
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anasayfa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriId)
                 @* <select>
                <option value="">Seçiniz</option>
                @foreach (var kategori in Model)
                {
                    <option value="@kategori.KategoriId">@kategori.Adi</option>
                }
            </select>*@
            <th>
                    @Html.DisplayNameFor(model => model.Resimler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      
@foreach (var item in Model) {
            <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anasayfa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Kategori.Adi)
              @* 
                  <select>
                <option value="">Seçiniz</option>
                @foreach (var kategori in Model)
                {
                    <option value="@kategori.KategoriId">@kategori.Adi</option>
                }
            </select>*@
            </td>
                <td>

                    @{
                        var c = item.GetGaleris(item.UrunId);

                        if (c != null)
                        {
                            @foreach (var ite in c)
                            {
                                <text>
                                    <img src="data:image;base64,@Html.DisplayFor(modelItem => ite.Resim)" alt="base64 e dönüştürülmüş resim" style="height:80px; width:80px;">
                                </text>
                            }}
                    }
                </td>
                @item.UrunId
            <td>
                <a asp-action="Edit" asp-route-id="@item.UrunId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UrunId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UrunId">Delete</a>
            </td>
        </tr>

}    
    </tbody>
</table>
